<%- include('partials/header'); -%>

<div class="alert alert-primary text-center">
    <strong>You are not a User. Register to upload your App</strong>
</div>
<p class=text-center><a class="btn btn-secondary" href="/register" role="button">Register &raquo;</a></p>


<%- include('partials/footer'); -%>