<%- include('partials/userheader') %>


<div class="signup-form">
  <form  action="/submit" method="POST">
    <h2 class="text-center">Upload your App</h2>
    <hr>
    <div class="form-group">
      <div class="row">
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control"  name="developer" placeholder="Name" required="required"  autocomplete="off">
    </div>
    <div class="form-group">
      <input type="text" class="form-control"  name="name" placeholder="App Name" required="required"  autocomplete="off">
    </div>
    <div class="form-group">
      <input type="text" class="form-control"  name="logo" placeholder="App Logo Url" required="required"  autocomplete="off">
    </div>
    <div class="form-group">
      <input type="text" class="form-control"  name="download" placeholder="App Download Url" required="required"  autocomplete="off">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="size" placeholder="App Size" required="required"  autocomplete="off">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="description" placeholder="App Description" required="required"  autocomplete="off">
    </div>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
<%- include('partials/footer') %>