<%- include('partials/header'); -%>

<div class="alert alert-primary text-center">
    <strong>Congragulation. Your App Details have been saved Successfully.</strong> <br><br> Your App will be added to the store after checking the file & details. <br>
    If the Details are not perfect the App will not added to the Store. 
</div>
<p class=text-center><a class="btn btn-secondary" href="/" role="button">Home &raquo;</a></p>


<%- include('partials/footer'); -%>